.env
.DS_Store
.venv*/
__pycache__/
*.py[cod]
.pytest_cache/
data/
*.egg-info/
/firmware/esp32-s3-recorder/build/
/firmware/esp32-s3-recorder/sdkconfig
/firmware/esp32-s3-recorder/sdkconfig.old
/firmware/esp32-s3-recorder/main/secrets.h
